<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/users">จัดการผู้ใช้งาน</a>
  <span class="breadcrumb-item active">แก้ไขผู้ใช้งาน</span>
</nav>
<div class="card">
  <div class="card-header">
    แก้ไขข้อมูลผู้ใช้งาน
  </div>
  <div class="card-block">
    <div class="card-text">
      <form>
        <section class="form-block">
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="fullname">เจ้าหน้าที่</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <um-autocomplete-people #people [clearOnSelected]="false" (onSelect)="onPeopleSelected($event)"></um-autocomplete-people>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>สถานะการใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="toggle-switch">
                <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="isActive">
                <label for="isActive"></label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="username" class="required">ชื่อผู้ใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" disabled type="text" id="username" name="username" [(ngModel)]="username">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="password" class="required">รหัสผ่าน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="password" [(ngModel)]="password" name="password" id="password" placeholder="กรอกรหัสผ่านใหม่ หากต้องการเปลี่ยนรหัสผ่าน">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="fullname">วันที่เริ่มใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <my-date-picker-th name="startDate" [options]="myDatePickerOptions" [(ngModel)]="startDate"></my-date-picker-th>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="fullname">วันที่หยุดใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <my-date-picker-th name="endDate" [options]="myDatePickerOptions" [(ngModel)]="endDate"></my-date-picker-th>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">คลังสินค้า</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="select">
                <select id="warehouseId" name="warehouseId" [(ngModel)]="warehouseId">
                  <option *ngFor="let w of warehousesList" [value]="w.warehouse_id">{{ w.warehouse_name }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="form-group">
                <div class="radio-inline">
                  <input type="radio" name="warehouseCheck" (change)="checkWarehouse1()" id="checkrads_11">
                  <label for="checkrads_11">คลังใหญ่</label>
                </div>
                <div class="radio-inline">
                  <input type="radio" name="warehouseCheck" (change)="checkWarehouse2()" id="checkrads_12" checked>
                  <label for="checkrads_12">หน่วยเบิก</label>
                </div>
              </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
              <button (click)="addWarehouse()" [disabled]="!warehouseId" class="btn btn-sm btn-success">เพิ่มคลังสินค้า</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <clr-datagrid [style.height.px]="300">
                <clr-dg-column>คลังสินค้า</clr-dg-column>
                <clr-dg-column>ประเภทคลัง</clr-dg-column>
                <clr-dg-column></clr-dg-column>
                <clr-dg-column></clr-dg-column>
                <clr-dg-column></clr-dg-column>
                <clr-dg-row *clrDgItems="let w of warehouses;let idx=index" [clrDgItem]="w">
                  <clr-dg-cell>{{w.warehouse_name}}</clr-dg-cell>
                  <clr-dg-cell>{{w.warehouse_type}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button (click)="setRight(w)" class="btn btn-sm btn-success">ตั้งค่าสิทธิ์การใช้งาน</button>
                  </clr-dg-cell>
                  <clr-dg-cell>
                    <div class="toggle-switch">
                      <input type="checkbox" id="status-{{idx}}"  (change)="changeStatus($event,w)" [checked]="w.is_actived === 'Y'">
                      <label for="status-{{idx}}"></label>
                    </div>
                  </clr-dg-cell>
                  <clr-dg-cell>
                    <button class="btn btn-sm btn-danger" (click)="removeWarehouse(w)">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button [clrLoading]="submitLoading" class="btn btn-sm btn-success" (click)="saveUser()" [disabled]="!fullname || !username || !warehouses.length || submitLoading">บันทึก</button>
    <button class="btn btn-sm btn-outline-danger" [disabled]="submitLoading" routerLink="/admin/users">ยกเลิก</button>
  </div>

</div>
<um-loading #loading></um-loading>

<clr-modal [(clrModalOpen)]="openModal" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <h3 class="modal-title">สิทธิ์การอนุมัติ</h3>
  <div class="modal-body" style="height:500px">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <label for="gForm_1">เลือก Template</label>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="select">
          <select (change)="setRightWithGroup($event)" id="groupId" name="groupId" [(ngModel)]="groupId">
            <option *ngFor="let g of groups" [value]="g.group_id">{{ g.group_name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <clr-stack-view>
          <clr-stack-header>สิทธิ์การใช้งาน</clr-stack-header>
          <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>ตั้งค่าและข้อมูลผู้ใช้</clr-stack-label>
            <clr-stack-block>
              <clr-stack-label>
                <input type="checkbox" id="checkrads_1" (click)="checkAllUM()"> เลือกทั้งหมด
              </clr-stack-label>
              <clr-stack-content>
                <clr-checkbox *ngFor="let item of rights_um" [(clrChecked)]="item.check">
                  {{ item.right_name }}</clr-checkbox>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>

          <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>ข้อมูลพื้นฐานยาและเวชภัณฑ์</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>
                <input type="checkbox" id="checkrads_2" (click)="checkAllMM()"> เลือกทั้งหมด
              </clr-stack-label>
              <clr-stack-content>
                <clr-checkbox *ngFor="let item of rights_mm" [(clrChecked)]="item.check">
                  {{ item.right_name }}</clr-checkbox>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>

          <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>จัดการคลังสินค้า</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>
                <input type="checkbox" id="checkrads_3" (click)="checkAllWM()"> เลือกทั้งหมด
              </clr-stack-label>
              <clr-stack-content>
                <clr-checkbox *ngFor="let item of rights_wm" [(clrChecked)]="item.check">
                  {{ item.right_name }}</clr-checkbox>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>จัดซื้อ</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>
                <input type="checkbox" id="checkrads_4" (click)="checkAllPO()"> เลือกทั้งหมด
              </clr-stack-label>
              <clr-stack-content>
                <clr-checkbox *ngFor="let item of rights_po" [(clrChecked)]="item.check">
                  {{ item.right_name }}</clr-checkbox>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>แผนและงบประมาณ</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>
                <input type="checkbox" id="checkrads_5" (click)="checkAllBM()"> เลือกทั้งหมด
              </clr-stack-label>
              <clr-stack-content>
                <clr-checkbox *ngFor="let item of rights_bm" [(clrChecked)]="item.check">
                  {{ item.right_name }}</clr-checkbox>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block [clrSbExpanded]="true">
            <clr-stack-label>สัญญา</clr-stack-label>
            <clr-stack-content></clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>
                <input type="checkbox" id="checkrads_6" (click)="checkAllCM()"> เลือกทั้งหมด
              </clr-stack-label>
              <clr-stack-content>
                <clr-checkbox *ngFor="let item of rights_cm" [(clrChecked)]="item.check">
                  {{ item.right_name }}</clr-checkbox>
              </clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>

        </clr-stack-view>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h4>รายการประเภทของเวชภัณฑ์</h4>
        <clr-datagrid [style.height.px]="300" [(clrDgSelected)]="selectedProductGroups">
          <clr-dg-column>รายการประเภทของเวชภัณฑ์</clr-dg-column>
          <clr-dg-row *clrDgItems="let pg of productGroups" [clrDgItem]="pg">
            <clr-dg-cell>
              {{pg.generic_type_name}}
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="!selectedProductGroups.length" (click)="saveRight()">บันทึก</button>
    <button type="button" class="btn btn-danger" (click)="openModal = false">ปิด</button>
  </div>
</clr-modal>