<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/users">ข้อมูลผู้ใช้งาน</a>
  <span class="breadcrumb-item active">เพิ่มผู้ใช้งาน</span>
</nav>
<div class="card">
  <div class="card-header">
    เพิ่มผู้ใช้งาน
  </div>
  <div class="card-block">
    <div class="card-text">
      <form>
        <section class="form-block">
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="fullname">เจ้าหน้าที่</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <input class="form-control" disabled type="text" [(ngModel)]="fullname" name="fullname" id="fullname">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <button class="btn btn-sm btn-primary" (click)="searchPeople()">ค้นหา</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="username" class="required">ชื่อผู้ใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="text" id="username" name="username" [(ngModel)]="username">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="password" class="required">รหัสผ่าน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <input class="form-control" type="password" [(ngModel)]="password" name="password" id="password">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="fullname">วันที่เริ่มใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <my-date-picker-th name="startDate" [options]="myDatePickerOptions" [(ngModel)]="startDate"></my-date-picker-th>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="fullname">วันที่หยุดใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <my-date-picker-th name="endDate" [options]="myDatePickerOptions" [(ngModel)]="endDate"></my-date-picker-th>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">เลือก Template</label>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
              <div class="select">
                <select (change)="setRightWithGroup($event)" id="groupId" name="groupId" [(ngModel)]="groupId">
                  <option *ngFor="let g of groups" [value]="g.group_id">{{ g.group_name }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="gForm_1" class="required">คลังสินค้า</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="select">
                <select id="warehouseId" name="warehouseId" [(ngModel)]="warehouseId">
                  <option *ngFor="let w of warehouses" [value]="w.warehouse_id">{{ w.warehouse_name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label>สถานะการใช้งาน</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="toggle-switch">
                <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="isActive">
                <label for="isActive"></label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="aForm_4" class="required">สิทธิ์การใช้งาน</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-6">
                  <clr-datagrid [style.height.px]="300" [(clrDgSelected)]="selectedRights">
                    <clr-dg-column>รายการสิทธิ์</clr-dg-column>
                    <clr-dg-row *clrDgItems="let r of rights" [clrDgItem]="r">
                      <clr-dg-cell>{{r.right_name}} (
                        <code>{{r.right_code}}</code>)</clr-dg-cell>
                    </clr-dg-row>
                  </clr-datagrid>
                </div>
                <div class="col-md-6">
                  <clr-datagrid [style.height.px]="300" [(clrDgSelected)]="selectedProductGroups">
                    <clr-dg-column>รายการประเภทของเวชภัณฑ์ (ใช้กับสิทธิ์ Admin เท่านั้น)</clr-dg-column>
                    <clr-dg-row *clrDgItems="let pg of productGroups" [clrDgItem]="pg">
                      <clr-dg-cell>
                        {{pg.generic_type_name}}
                      </clr-dg-cell>
                    </clr-dg-row>
                  </clr-datagrid>
                </div>
              </div>
            </div>
          </div>

        </section>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button [clrLoading]="submitLoading" class="btn btn-sm btn-success" (click)="saveUser()" [disabled]="!selectedPeople || !username || !password || !groupId || !warehouseId || !selectedRights.length">บันทึก</button>
    <button class="btn btn-sm btn-outline-danger" [disabled]="submitLoading" routerLink="/admin/users">ยกเลิก</button>
  </div>

</div>

<clr-modal [(clrModalOpen)]="openPeopleModal" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">เลือกเจ้าหน้าที่</h3>
  <div class="modal-body">
    <clr-datagrid [clrDgLoading]="loadingPeople" [(clrDgSingleSelected)]="selectedPeople">
      <clr-dg-column [style.width.%]="10">คำนำหน้า</clr-dg-column>
      <clr-dg-column [style.width.%]="25" [clrDgField]="'fname'">ชื่อ</clr-dg-column>
      <clr-dg-column [style.width.%]="25" [clrDgField]="'lname'">สกุล</clr-dg-column>
      <clr-dg-column [style.width.%]="35" [clrDgField]="'position'">ตำแหน่ง</clr-dg-column>
      <clr-dg-placeholder>ไม่พบชื่อเจ้าหน้าที่!</clr-dg-placeholder>
      <clr-dg-row *clrDgItems="let p of peoples" [clrDgItem]="p">
        <clr-dg-cell>{{p.title_name}}</clr-dg-cell>
        <clr-dg-cell>{{p.fname}}</clr-dg-cell>
        <clr-dg-cell>{{p.lname}}</clr-dg-cell>
        <clr-dg-cell>{{p.position_name}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
        <clr-dg-pagination #pagination [clrDgPageSize]="8"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="!selectedPeople" (click)="setPeople()">ตกลง</button>
    <button type="button" class="btn btn-outline-danger" (click)="openPeopleModal = false">ยกเลิก</button>
  </div>
</clr-modal>