<nav class="breadcrumb">
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin">หน้าหลัก</a>
  <a class="breadcrumb-item" href="javascript://" routerLink="/admin/groups">กลุ่มผู้ใช้งาน</a>
  <span class="breadcrumb-item active">กำหนดข้อมูลสิทธิ์การใช้งาน</span>
</nav>

<div class="card">
  <div class="card-header">
    กำหนดข้อมูลสิทธิ์การใช้งาน
  </div>
  <div class="card-block">
    <div class="card-text">
      <form>
        <section class="form-block">
          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label class="required" for="fullname">ชื่อกลุ่มผู้ใช้งาน</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <input class="form-control" type="text" [(ngModel)]="groupName" name="groupName" id="groupName">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <label for="aForm_4" class="required">สิทธิ์การใช้งาน</label>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
              <!-- <clr-datagrid [style.height.px]="300" [(clrDgSelected)]="selectedRights">
                <clr-dg-column>รายการสิทธิ์</clr-dg-column>
                <clr-dg-row *clrDgItems="let r of rights" [clrDgItem]="r">
                  <clr-dg-cell>{{r.right_name}} (<code>{{r.right_code}}</code>)</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid> -->
              <clr-stack-view>
                <clr-stack-header>สิทธิ์การใช้งาน</clr-stack-header>
                <clr-stack-block>
                  <clr-stack-label>ตั้งค่าและข้อมูลผู้ใช้</clr-stack-label>
                  <clr-stack-block>
                    <clr-stack-label>
                      <input type="checkbox" name="allUM" [(ngModel)]="allUM" id="checkrads_1" (click)="checkAllUM()"> เลือกทั้งหมด
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-checkbox *ngFor="let item of rights_um" [(clrChecked)]="item.check">
                        {{ item.right_name }}</clr-checkbox>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>

                <clr-stack-block [clrSbExpanded]="false">
                  <clr-stack-label>ข้อมูลพื้นฐานยาและเวชภัณฑ์</clr-stack-label>
                  <clr-stack-content></clr-stack-content>
                  <clr-stack-block>
                    <clr-stack-label>
                      <input type="checkbox" name="allMM" [(ngModel)]="allMM" id="checkrads_2" (click)="checkAllMM()"> เลือกทั้งหมด
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-checkbox *ngFor="let item of rights_mm" [(clrChecked)]="item.check">
                        {{ item.right_name }}</clr-checkbox>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>

                <clr-stack-block [clrSbExpanded]="false">
                  <clr-stack-label>จัดการคลังสินค้า</clr-stack-label>
                  <clr-stack-content></clr-stack-content>
                  <clr-stack-block>
                    <clr-stack-label>
                      <input type="checkbox" name="allWM" [(ngModel)]="allWM" id="checkrads_3" (click)="checkAllWM()"> เลือกทั้งหมด
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-checkbox *ngFor="let item of rights_wm" [(clrChecked)]="item.check">
                        {{ item.right_name }}</clr-checkbox>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>
                <clr-stack-block [clrSbExpanded]="false">
                  <clr-stack-label>จัดซื้อ</clr-stack-label>
                  <clr-stack-content></clr-stack-content>
                  <clr-stack-block>
                    <clr-stack-label>
                      <input type="checkbox" name="allPO" [(ngModel)]="allPO" id="checkrads_4" (click)="checkAllPO()"> เลือกทั้งหมด
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-checkbox *ngFor="let item of rights_po" [(clrChecked)]="item.check">
                        {{ item.right_name }}</clr-checkbox>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>
                <clr-stack-block [clrSbExpanded]="false">
                  <clr-stack-label>แผนและงบประมาณ</clr-stack-label>
                  <clr-stack-content></clr-stack-content>
                  <clr-stack-block>
                    <clr-stack-label>
                      <input type="checkbox" name="allBM" [(ngModel)]="allBM" id="checkrads_5" (click)="checkAllBM()"> เลือกทั้งหมด
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-checkbox *ngFor="let item of rights_bm" [(clrChecked)]="item.check">
                        {{ item.right_name }}</clr-checkbox>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>
                <clr-stack-block [clrSbExpanded]="false">
                  <clr-stack-label>สัญญา</clr-stack-label>
                  <clr-stack-content></clr-stack-content>
                  <clr-stack-block>
                    <clr-stack-label>
                      <input type="checkbox" name="allCM" [(ngModel)]="allCM" id="checkrads_6" (click)="checkAllCM()"> เลือกทั้งหมด
                    </clr-stack-label>
                    <clr-stack-content>
                      <clr-checkbox *ngFor="let item of rights_cm" [(clrChecked)]="item.check">
                        {{ item.right_name }}</clr-checkbox>
                    </clr-stack-content>
                  </clr-stack-block>
                </clr-stack-block>

              </clr-stack-view>
            </div>
          </div>

        </section>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <button [clrLoading]="submitLoading" class="btn btn-sm btn-success" (click)="saveRights()" [disabled]="!groupId || !groupName">บันทึก</button>
    <button class="btn btn-sm btn-outline-danger" [disabled]="submitLoading" routerLink="/admin/groups">ยกเลิก</button>
  </div>
</div>
<um-loading #loading></um-loading>